<style>
  #bar{
  background-color: black;
}
.button {
  display: inline-flex;
  height: 40px;  
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 10px 10px 10px 10px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s ease-Out;
}
.button-5 a {
  position: relative;
  transition: all .45s ease-Out; 
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: white;
  position: absolute;
  transition: all .5s ease-Out;
}
.button-5:hover  {    
  background-color: black;
  transform: translateY( -7px); 
  transition: all .8s ease-Out;  
}
.button-5:hover #translate {
  left: 0;
}
.button-5:hover a {    
  color: black;
}
</style>
<nav id="bar" class="navbar  navbar-expand-lg navbar-light">
  <div class="button button-5">
    <div id="translate"></div>
      <a style="color:lightblue" class="navbar-brand">Py_Gram</a>      
  </div>  
  <button style="color:white" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <div class="button button-5">
          <div id="translate"></div>
            <a style="color:lightblue" class="nav-link" href="{% url 'Home' %}">Home</a>          
        </div>        
      </li>     
      <li class="nav-item">
        <a class="nav-link"></a>
      </li>                                                                                                   
      <li>
        <form class="navbar-form" role='search' action="">
          <input type="text" class="form-control" placeholder="Search" name="search_term">            
          <button style="" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>            
        </form>  
      </li>                                                                   
    </ul>
    <ul class="navbar-nav ml-auto">  
      {% if user.is_authenticated %} 
        {% if user.userprofile.pic %}
          <img class="rounded-circle"src="{{user.userprofile.pic.cdn_url}}" width="40px" height="40px"alt="Profile photo">
        {% else %}
          <p>{{request.user.username}}</p>
        {% endif %}          
        <div class="button button-5">
          <div id="translate"></div>              
            <a style="color:lightblue" class="nav-link" href="{% url 'profile' %}">Profile</a>
        </div> 
        <div class="button button-5">
          <div id="translate"></div>              
            <a style="color:lightblue" class="nav-link" href="{% url 'logout' %}">Logout</a>          
        </div> 
      {% else %}
        <li class="nav-item">
        <div class="button button-5">
          <div id="translate"></div>              
            <a style="color:lightblue" class="nav-link" href="/accounts/login/">Sign In</a>          
        </div> 
        </li>   
      {% endif %}       
      
    </ul>
  </div>
</nav>
