  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark btn-outline-info">
    <a class="navbar-brand">Py_Gram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link btn btn-outline-success" style="color:lightblue" href="{% url 'Home' %}">Home</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link"></a>
        </li>                                                                                                   
        <li>
          <form class="navbar-form" role='search' action="">
            <input type="text" class="form-control" placeholder="Search" name="search_term">
            <button type="submit" class="btn btn-outline-success">Search</button>            
          </form>  
        </li>                                                                   
      </ul>
      <ul class="navbar-nav ml-auto">  
        {% if user.is_authenticated %}        
          <a class="nav-link btn btn-outline-secondary" href="{% url 'profile' %}">Profile</a>
          <a class="nav-link btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>          
        {% else %}
          <li class="nav-item">
            <a class="nav-link btn btn-outline-success" href="/accounts/login/">Sign In</a>          
          </li>   
        {% endif %}       
        
      </ul>
    </div>
  </nav>
