{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block styles %}
  {{block.super}} 
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">    
{% endblock styles %}

{% block content %}
  <div class="container">
    <div class="row">    
      <div class="col-md-6">
      {% if other_user.userprofile.pic %}
        <img class="rounded-circle"src="{{other_user.userprofile.pic.cdn_url}}" width="250px" height="250px" alt="Profile photo">
      {% else %}
        <p class="alert alert-danger">No Profile Pic</p>        
      {% endif %}
      </div>
      <div class="col-md-6">            
        <div class="row">
          <div class="col-md-8">
            <h5>Username: {{other_user.username}}</h5>            
            <h5>Email: {{other_user.email}}</h5>
            <hr>
            <h6><b>Status</b></h6>              
            {% if other_user.userprofile.status %}
              <p>{{other_user.userprofile.status}}</p>
            {% else %}  
              <p class="alert alert-danger"> No status</p>
            {% endif %}    
            <br>                        
            <h6><b>Career</b></h6>
            {% if other_user.userprofile.status %}
              <p>{{other_user.userprofile.career}}</p>
            {% else %}  
              <p class="alert alert-danger"> No Career</p>              
            {% endif %}
          </div>
          <div class="col-md-4">    
            <span style="color:lightblue"><h4>Followers: {{other_user.userprofile.followers.count}}</h4></span>
             <form action="{% url 'follow_user' %}" method="post">
              {% csrf_token %}
              <div class="button" id="button-4">
                <div id="underline"></div>
                <button class="btn" type="submit" name="user_id" style="color:lightblue"value="{{other_user.userprofile.id}}">Follow</button>                
              </div>
            </form>            
          </div>
        </div>
      </div>    
    </div>  
    <hr>
    <h4><b><u>Posts</u></b></h4>
    <div class="row">
    {% if posts %}
    {% for post in posts %} 
      <div style="margin-left:10px;" class="card bg-transparent">
        <a href="/single_post/{{post.id}}">        
          <img class="image" src="{{post.image.cdn_url}}" style="margin-left:10px"width="250px" height="300px"alt="{{post.image_name}}">                                    
        </a>        
        <h5><img  width="45px" height="40px"src="https://www.freepngimg.com/thumb/heart/67620-heart-instagram-icons-button-computer-like.png">: <span style="color:red">{{post.likes.count}}</span></h5>   
      </div>
      <br>      
    {% endfor %}
    {% else %}
      <p class="alert alert-danger"> No Posts</p>              
    {% endif %}
    </div>
    <br>
  </div>  
{% endblock content %}
  


