{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block styles %}
  {{block.super}} 
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">    
{% endblock styles %}

{% block content %}
  <div class="container">
    <div class="row">    
      <div class="col-md-6">
      {% if user.userprofile.pic %}
        <img class="rounded-circle"src="{{user.userprofile.pic.cdn_url}}" width="250px" height="250px" alt="Profile photo">
      {% else %}
        <img class="rounded-circle"src="https://cdn4.iconfinder.com/data/icons/human-user-business-person-avatars/100/23A-1User-512.png" width="250px" height="250px" alt="Profile photo">
      {% endif %}
      </div>
      <div class="col-md-6">            
        <div class="row">
          <div class="col-md-8">
            <h5>Username: {{user.username}}</h5>            
            <h5>Email: {{user.email}}</h5>
            <hr>
            <h6><b>Status</b></h6>              
            {% if user.userprofile.status %}
              <p>{{user.userprofile.status}}</p>
            {% else %}  
              <p class="alert alert-danger"> No status</p>
            {% endif %}    
            <br>                        
            <h6><b>Career</b></h6>
            {% if user.userprofile.status %}
              <p>{{user.userprofile.career}}</p>
            {% else %}  
              <p class="alert alert-danger"> No Career</p>              
            {% endif %}
          </div>
          <div class="col-md-4">            
            <span style="color:lightblue"><h4>Followers: {{user.userprofile.followers.count}}</h4></span>
            <div class="button" id="button-6">
              <div id="spin"></div>                
                <a href="{% url 'updateProfile' %}">Update profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
    <hr>
  </div>  
  <div class="container-fluid">
    <h4><b><u>Posts</u></b></h4>
    <div class="row">
    {% if posts %}
    {% for post in posts %} 
      <div style="margin-left:10px;" class="card bg-transparent">
        <a href="/single_post/{{post.id}}">        
          <img class="image" src="{{post.image.cdn_url}}" style="margin-left:10px"width="250px" height="300px"alt="{{post.image_name}}">                                    
        </a>        
        <h5><img  width="45px" height="40px"src="https://www.freepngimg.com/thumb/heart/67620-heart-instagram-icons-button-computer-like.png">: <span style="color:red">{{post.likes.count}}</span></h5>   
      </div>
      <br>
      <br>      
    {% endfor %}    
    {% else %}
      <p class="alert alert-danger"> No Posts</p>              
    {% endif %}
    </div>
    <br>
  </div>  
{% endblock content %}
  


